* {
    font-family: Verdana;
    text-align: center;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-size: 50px;
    color: white;
    font-weight: normal;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

h3 {
    font-size: 21px;
    color: gray;
}

.download-link {
    color: aquamarine;
    font-size: 16px;
}