* {
    font-family: Verdana;
    text-align: center;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-size: 50px;
    color: white;
}

.download-link {
    color: aquamarine;
    font-size: 16px;
}